/*Font variables*/
$glober: globerregular, Helvetica, sans-serif;
$globerbold: globerbold, Helvetica, sans-serif;
$globersemibold: globersemibold, Helvetica, sans-serif;
$globerextrabold: globerextrabold, Helvetica, sans-serif;
$corbel: corbelregular, Helvetica, sans-serif;
$arial: Arial, Helvetica, sans-serif;

/*Color variables*/
$white: #ffffff;
$black: #2a2a2a;
$grey: #242424;
$lightgrey: #acacae;
$lightestgrey: #e6ecf1;
$darkblue: #3b5f93;
$lightblue: #378cc4;
$orange: #f39b13;

/*Sizes variables*/
$normalfont: 14px;

/*z-index variables*/
$toplayer: 8000;
$overlay: 4000;
$mask: 2000;
$frontlayer: 1000;

/*Mixins*/

@mixin box-sizing($type){
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	box-sizing: $type;
}

@mixin box-shadow($x, $y, $blur, $size, $color){
	-webkit-box-shadow: $x $y $blur $size $color;
	-moz-box-shadow: $x $y $blur $size $color;
	box-shadow: $x $y $blur $size $color;
}
